/*Header*/
.header{
    padding:1px;
    font-size:30px;
    font-weight:700;
    color:white;
    text-align:center;
}

/*Styling for search bar*/
.seachbar {

}

.seachbar input[type=text] {
     padding: 6px;
     border: solid;
     border-radius: 10px;
     border-color: rebeccapurple;
     font-size: 15px;
     background-color: rebeccapurple;
     min-width: 98%;
     color:white;
}

::placeholder{
    color:white;
}

/*end Styling for search bar*/

/*Styling for side nav bar*/
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rebeccapurple;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
}

.sidenav a:hover {
    color: dimgrey;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
            font-size: 18px;
    }
}

/*Page content after nav bar*/
#main{
   margin-left:200px;
}

body{
    background-color:mediumpurple;
    color:white;
}

.row{
    display:inline-flex;
    flex-direction:row;
}
.column {
    display: inline-flex;
    flex-direction: column;
    padding-left:10px;
}
.container1 {
    background-color: white;
    width: 550px;
    padding: 10px;
    height: 470px;
    margin-top: 20px;
}
.container2 {
    background-color: white;
    width: 430px;
    padding: 10px;
    height: 130px;
    margin-top: 20px;
}
.container3 {
    background-color: white;
    width: 430px;
    padding: 10px;
    height: 130px;
    margin-top: 20px;
}
.container4 {
    background-color: white;
    width: 430px;
    padding: 10px;
    height: 130px;
    margin-top: 20px;
}