.bgcontainer{
    width: 100%;
    min-height: 80vh;
    background: #673070;
    border-radius: 10px;
}
.navbarcontainer{
    width: 20%;
    min-height: 100vh;
    left: 0px;
    top: 50px;
    position: absolute;
}

.navbarcontents{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
